<template>
    
        <div class="slds-m-around_medium" if:true={fieldpicklist}>
            <label class="slds-form-element__label" for="unique-id-of-input">{label}</label>
            <select class="slds-select" onchange={handleKeyChange}>
                <template for:each={picklistvalues} for:item="pickval" for:index="index">
                    <option key={pickval.apival} value={pickval.apival} selected={pickval.isdefault}>{pickval.labelval}
                    </option>
                </template>
            </select>
        </div>
        <div class="slds-m-around_medium posRel" if:true={fieldcomobox}>

            <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <lightning-input data-id="userinput" label={Label} name="searchText" onclick={handelcomboclick}
                    value={selectRecordName} onchange={handelbomboboxvaluechange} class="leftspace">

                </lightning-input>
            </div>
            <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-5 slds-dropdown_fluid "
                role="listbox" if:true={showcombolist}>
                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <template for:each={picklistvalues} for:item="pickval">
                        <li role="presentation" class="slds-listbox__item" key={pickval.apival}>

                            <div data-id={pickval.apival} data-name={pickval.labelval} onclick={handelcombochange}
                                class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta slds-media_small"
                                role="option">

                                <span class="slds-media__body">
                                    <span
                                        class="slds-listbox__option-text slds-listbox__option-text_entity">{pickval.labelval}</span>
                                </span>
                            </div>
                        </li>
                    </template>
                </ul>

            </div>
        </div>
    
</template>